body {
    font: 16px/1.5 'Josefin Sans', sans-serif;
    color: rgb(4, 4, 173);
    margin: 0;
    background-color: #222;
}

strong {
    font-weight: 700;
}

li {
    list-style: square;
}

nav {
    font-size: 2em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #222;
    color: white;
    padding: .5em;


}

a {
    color: white;
    padding: .5em;
    text-decoration: none;
}