body {
    font: 16px/1.5 'Josefin Sans', sans-serif;
    color: rgb(4, 4, 173);
    margin: 0;
    background-color: #222;
}

strong {
    font-weight: 700;
}

li {
    list-style: square;
}

nav {
    font-size: 2em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #222;
    color: white;
    padding: .5em;


}

a {
    color: white;
    padding: .5em;
    text-decoration: none;
}

.hero {
    background: #606060 url(skywalker.PNG) no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    font: 1.5em/1 'Abril Fatface', serif;
    padding: 2em;
    margin: 0 0 2em 0;
    width: 30%;
}

h1 {
    max-width: 700px;
    margin: 200px auto 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2em;
}

.lead {
    font-size: 20px;
}

main {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}